{% set site_title = 'Projects' %}
{% set nav_item_list = get_projects() %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author }}">
    <title>{{ page_title }}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-default navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ site_title }}</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            {% for id, caption in nav_item_list %}
            <li{% if active_page == id %} class="active"{% endif %}><a href="/project/{{ id }}">{{ caption }}</a></li>
            {% endfor %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if not current_user.is_authenticated() %}
            <li{% if active_page == 'admin' %} class="active"{% endif %}><a href="/login">Admin</a></li>
            {% else %}
            <li><a href="/logout">Logout</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>
    <article role="main">
      {% block content %}{% endblock %}
    </article>
    <footer role="contentinfo">
      <p class="container">&copy; 2014 <a href="http://www.agent.csie.ntu.edu.tw/">iAgents Lab.</a></p>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>