{% macro section(id, caption, back_to_top=True) %}
<section id="{{ id }}">
  <header class="page-header">
    <h1>{{ caption }}</h1>
  </header>
  {{ caller() }}
  {% if back_to_top %}
  <p class="back-to-top"><a href="#">Back to top</a></p>
  {% endif %}
</section>
{% endmacro %}

{% macro form_field(field) %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
  {{ field.label(class_='col-sm-2 control-label') }}
  <div class="col-sm-5">
    {{ field(class_='form-control', required=field.flags.required, **kwargs) }}
  </div>
  {% if field.errors %}
  <p class="col-sm-5 help-block">{{ field.errors[0] }}</p>
  {% endif %}
</div>
{% endmacro %}

{% macro editing_form(form) %}
<form class="form-horizontal" method="post" role="form">
  {% for field in form %}
    {% if field.type != 'CSRFTokenField' %}
    {{ form_field(field) }}
    {% endif %}
  {% endfor %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      {{ form.csrf_token }}
      <button class="btn btn-primary" type="submit">Submit</button>
      <button class="btn btn-default" type="reset">Reset</button>
    </div>
  </div>
</form>
{% endmacro %}

{% macro editing_table(project, type, items) %}
<table class="edit-table table table-striped">
  <colgroup>
    <col class="name col-xs-10 col-sm-10">
    <col span="2" class="control col-xs-1 col-sm-1">
  </colgroup>
  <tr>
    <th>Item</th>
    <th colspan="2">Control</th>
  </tr>
  {% for item in items %}
  <tr>
    <td>{{ item }}</td>
    <td><a href="{{ url_for('.edit_item', project=project, item_type=type, id=item.id) }}">Edit</a></td>
    <td><a href="{{ url_for('.delete_item', project=project, item_type=type, id=item.id) }}">Delete</a></td>
  </tr>
  {% endfor %}
</table>
<p><a class="btn btn-default" href="{{ url_for('.edit_item', project=project, item_type=type, **kwargs) }}" role="button">Add Item</a></p>
{% endmacro %}

{% macro show_messages(type) %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ type }}">
        <p>{{ message }}</p>
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro %}
