{% extends '_layout.html' %}
{% from '_macros.html' import section %}
{% set page_title = 'Delete {0} - {1}'.format(name, project.name) %}
{% set author = project.managers|join(', ', attribute='name') %}
{% set description = project.short_desc %}
{% set active_page = project.short_name %}
{% block main %}
<div class="container">
  {% call section('delete_item', 'Delete ' + name, back_to_top=False) %}
  <p>{{ item }}</p>
  <p><a href="{{ url_for(request.endpoint, id=request.args.get('id'), confirmed=True, **request.view_args) }}" class="btn btn-danger" role="button">Delete it!</a></p>
  {% endcall %}
</div>
{% endblock %}
