{% extends "_layout.html" %}
{% from '_macros.html' import section with context %}
{% set page_title = project.name %}
{% set active_page = project.short_name %}
{% block content %}
<div class="container">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success">
    <p>{{ message }}</p>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  {{ section('edit_item', 'Basic Settings') }}
  {{ section('edit_pubs', 'Publications') }}
  {{ section('edit_apps', 'Applications') }}
  {{ section('edit_apis', 'Web APIs') }}
  {{ section('edit_downloads', 'Downloads') }}
</div>
{% endblock %}
