{% extends "_layout.html" %}
{% from '_macros.html' import section, editing_section, editing_form, show_messages %}
{% set page_title = project.name %}
{% set active_page = project.short_name %}
{% block content %}
<div class="container">
  {{ show_messages('success') }}
  {% call section('basic', 'Basic Settings') %}
    {{ editing_form(form) }}
  {% endcall %}
  {{ editing_section('pub', 'Publications',
                     project.short_name, project.pubs) }}
  {{ editing_section('app', 'Applications',
                     project.short_name, project.apps) }}
  {{ editing_section('api', 'Web APIs',
                     project.short_name, project.apis) }}
  {{ editing_section('download', 'Downloads',
                     project.short_name, project.downloads) }}
</div>
{% endblock %}
