{% extends "_layout.html" %}
{% from '_macros.html' import section, form_field %}
{% set page_title = current_user.name %}
{% set active_page = 'manage' %}
{% block content %}
<div class="container">
  {% call section('edit_user', 'Edit User', back_to_top=False) %}
  <form class="form-horizontal" method="post" role="form">
    {{ form_field(form.name) }}
    {{ form_field(form.email) }}
    {{ form_field(form.projects, disabled=(not current_user.is_admin)) }}
    <div class="form-group">
      <div class="checkbox-group col-sm-offset-2 col-sm-10">
        {{ form.is_admin(disabled=(not current_user.is_admin)) }}
        {{ form.is_admin.label }}
      </div>
      <div class="col-sm-offset-2 col-sm-10">
        {{ form.csrf_token }}
        <button class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-default" type="reset">Reset</button>
      </div>
    </div>
  </form>
  {% endcall %}
</div>
{% endblock %}
