{% extends '_layout.html' %}
{% from '_macros.html' import section, form_field, show_messages %}
{% if form.raw_pwd is defined %}
  {% set page_title = 'Create User' %}
{% else %}
  {% set page_title = 'Edit User - ' + form.name.data %}
{% endif %}
{% set active_page = 'account' %}
{% block main %}
<div class="container">
  {{ show_messages('success') }}
  {% call section('edit_user', 'Edit User', back_to_top=False) %}
  <form class="form-horizontal" method="post" role="form">
    {{ form_field(form.name) }}
    {% if form.raw_pwd is defined %}
      {{ form_field(form.raw_pwd) }}
      {{ form_field(form.confirm_pwd) }}
    {% endif %}
    {{ form_field(form.email) }}
    {{ form_field(form.projects, disabled=(not current_user.is_admin)) }}
    <div class="form-group">
      <div class="checkbox-group col-sm-offset-2 col-sm-10">
        {{ form.is_admin(disabled=(not current_user.is_admin)) }}
        {{ form.is_admin.label }}
      </div>
      <div class="col-sm-offset-2 col-sm-10">
        {{ form.csrf_token }}
        <button class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-default" type="reset">Reset</button>
      </div>
    </div>
  </form>
  {% endcall %}
</div>
{% endblock %}
