{% extends '_layout.html' %}
{% from '_macros.html' import section %}
{% set page_title = 'Manage Projects' %}
{% set active_page = 'projects' %}
{% block main %}
<div class="container">
  {% call section('show_projects', 'Projects', back_to_top=False) %}
  <div class="table-responsive">
    <table class="edit-table table table-striped">
      <colgroup>
        <col class="caption">
        <col class="url">
        <col class="control col-xs-1 col-sm-1">
      </colgroup>
      <tr>
        <th>Name</th>
        <th>URL</th>
        <th>Control</th>
      </tr>
      {% for id, caption in nav_item_list %}
      <tr>
        <td>{{ caption }}</td>
        <td><a href="{{ url_for('.show_project', project=id) }}">/project/{{ id }}</a></td>
        <td><a href="{{ url_for('.edit_project', project=id) }}">Edit</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <p><a class="btn btn-default" href="{{ url_for('.create_project') }}" role="button">Add Project</a></p>
  {% endcall %}
</div>
{% endblock %}