{% extends '_layout.html' %}
{% from '_macros.html' import section_from_template with context %}
{% set page_title = project.name %}
{% set active_page = project.short_name %}
{% block main %}
<header class="jumbotron">
  <div class="container">
    <h1>{{ project.name }}</h1>
    <p>{{ project.short_desc }}</p>
    <div class="btn-toolbar">
      {% set downloads = project.downloads|list %}
      {% set downloads_len = downloads|length %}
      {% if downloads_len == 1 %}
      <a class="btn btn-primary btn-lg" href="{{ downloads[0].url }}" role="button">Download Data</a>
      {% elif downloads_len > 1 %}
      <div class="btn-group">
        <button class="btn btn-primary btn-lg dropdown-toggle" role="button" data-toggle="dropdown">Download Data&nbsp;<span class="caret"></span></button>
        <ul class="dropdown-menu">
          {% for download in downloads %}
          <li><a href="{{ download.url }}">{{ download.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <a class="btn btn-default btn-lg" href="{{ project.github_url }}" role="button">Visit Github Page »</a>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <aside class="aside col-md-3" role="complementary">
      <div class="list-group">
        {% for id, caption in sections %}
        <a href="#{{ id }}" class="list-group-item">{{ caption }}</a>
        {% endfor %}
      </div>
    </aside>
    <div id="desc" class="col-md-9">
      {{ project.desc|escape|markdown|safe }}
    </div>
  </div>
  {% for id, caption in sections %}
    {{ section_from_template(id, caption) }}
  {% endfor %}
</div>
{% endblock %}
