<p>{{ project.api_desc }}</p>
{% for api in project.apis %}
<section class="subsection">
  <h1>{{ api.method }} <tt>{{ api.format }}</tt></h1>
  <table class="api-table table table-striped">
    <tr>
      <th>Description</th>
      <td>{{ api.desc|escape|markdown|safe }}</td>
    </tr>
    <tr>
      <th>Parameters</th>
      <td>
        <dl class="param-list">
          {% for param in api.params %}
          <dt>{{ param.name }}</dt>
          <dd>{{ param.desc|escape|markdown|safe }}</dd>
          {% endfor %}
        </dl>
      </td>
    </tr>
    <tr>
      <th>Returns</th>
      <td>{{ api.returns|escape|markdown|safe }}</td>
    </tr>
    <tr>
      <th>Example</th>
      <td>{{ api.example|escape|markdown|safe }}</td>
    </tr>
  </table>
</section>
{% endfor %}